
.heading{
width: 100%;
margin-top: 0px;
height: 90px;
font-weight: bold;
font-size: 25px;
text-align: left;
}

.heading button{
float: right;
border: 1px solid white;
}

ol li{
text-align: left;
}

#footer{
bottom:0;
position: fixed;
background-color: antiquewhite;
font-weight: bold;
width: 100%;
line-height: 3;
font-size: 20px;
font-family: monospace;
}

canvas{
border-radius: 10px;
border: 5px solid white;

animation-name: animation;
animation-duration: 5s;
animation-iteration-count: infinite;
}
@keyframes animation{
from{
box-shadow: 10px 10px 20px white;
}
to{
box-shadow: 10px 10px 20px rgba(36, 0, 0, 0);
}
}

#restart{
margin-top: 30px;
}
